<div class="container">
  <h1>Laporan Penjualan PerItem</h1>
  <div class="form-input">
    <mat-form-field appearance="outline">
      <mat-label>Masukkan rentang tanggal</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <button mat-raised-button (click)="showReport()" class="show-btn">Tampilkan</button>
  </div>

  <div *ngIf="dataSource.length">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="itemId">
        <th mat-header-cell *matHeaderCellDef> Id Barang </th>
        <td mat-cell *matCellDef="let element"> {{element.itemId}} </td>
      </ng-container>

      <ng-container matColumnDef="barcode">
        <th mat-header-cell *matHeaderCellDef> Barcode </th>
        <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nama Barang </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Jumlah Terjual </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
