.icon-qris {
  width: 100%;
  height: auto;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nominal {
  font-size: 24px;
  color: rgb(0, 112, 173);
  font-weight: bolder;
}
