.icon-qris {
  width: 220px;
  height: auto;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nominal {
  font-size: 24px;
  color: rgb(0, 112, 173);
  font-weight: bolder;
}

.close-btn {
  width: 100%;
  background: rgb(52, 98, 72);
  color: #ffffff;
  font-size: 16px;
}
