<div class="sell-container">
  <div class="slide-toggle-scanner">
    <mat-slide-toggle [(ngModel)]="isScanMode" color="primary" labelPosition="before">
      {{isScanMode ? 'Hilangkan Scanner' : 'Pake Scanner'}}
    </mat-slide-toggle>
  </div>
  <app-scan-page *ngIf="isScanMode" (barcode)="setKeyword($event)"></app-scan-page>
  <div>
    <mat-form-field class="custom-form-field-keyword" appearance="outline">
      <input type="text" matInput placeholder="Cari jajanan" [formControl]="keyword">
      <mat-icon matSuffix class="clear-keyword" *ngIf="keyword.value?.length" (click)="clearSearch()">
        clear
      </mat-icon>
    </mat-form-field>
  </div>
  <div class="item-container">
    <app-card-item [searchByKeyword]="keyword.value"
              [reset]="isResetCart"
              (cartItemsEmitter)="setCartItems($event)">
    </app-card-item>
  </div>
  <div class="cupertino-pane">
    <h1 class="total">Total: {{getTotalTransaction()}}</h1>
    <div class="content">
      <div *ngFor="let item of cartItems">
          <div>
            <p class="name">{{item.name}}</p>
            <div class="detail-item-container">
              <div class="price">{{getNominalFormatter(item.sell_price)}}</div>
              <div class="quantity">x {{item.quantity}}</div>
              <div class="subtotal">{{getNominalFormatter(item.sell_price * item.quantity)}}</div>
            </div>
          </div>
        <mat-divider class="divider"></mat-divider>
      </div>
      <button mat-raised-button class="button-want" (click)="pay()" *ngIf="!isLoading">Bayar</button>
      <button mat-raised-button class="button-want loading-button-wrapper" (click)="pay()" *ngIf="isLoading">
        <mat-spinner [diameter]="26" class="transfer-spinner-white"></mat-spinner>
      </button>
    </div>
  </div>
</div>
