.sell-container {
  padding: 12px;
}

.custom-form-field-keyword {
  width: 100%;
}

.clear-keyword {
  font-size: 24px;
  cursor: pointer;
}

.clear-keyword:hover {
  transform: scale(1.3);
}

.clear-keyword:active {
  transform: scale(1.4);
  transition: transform 0.1s ease-in-out;
}

.slide-toggle-scanner {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-bottom: 24px;
}

.cupertino-pane {
  margin: 20px;
}

.item-container {
  margin-bottom: 15vh;
}

.detail-item-container {
  display: flex;
  flex-wrap: wrap;
}

.price {
  flex: 50%;
  color: #002e61;
}

.quantity {
  flex: 20%;
  color: #002e61;
}

.subtotal {
  flex: 30%;
  text-align: end;
  color: #002e61;
}

.name {
  color: #002e61;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.total {
  color: #ffffff;
  background: #002e61;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-want {
  align-content: center;
  border-radius: 0.3rem;
  color: #002e61;
  font-weight: bolder;
  height: 40px !important;
  width: 100%;
  float: right;
  display: flex;
  align-self: center;
}

.loading-button-wrapper {
  padding-left: 46%;
  padding-top: 4px;
}
