<div class="container">
  <div class="wrapper">
    <nav>
      <a href="/admin" class="logo">JAJANKU</a>
      <input type="checkbox" name="" id="toggle">
      <label for="toggle"><i class="material-icons">menu</i></label>
      <div class="menu">
        <ul>
          <li><a href="/admin">Home</a></li>
          <li><a href="/admin/master-data">Master Data</a></li>
          <li><a href="/admin/sales-report-peritem">Lap. Penjualan PerItem</a></li>
          <li><a href="/admin/sales-history">History Penjualan</a></li>
          <li><a href="/admin/income-statement">Lap. Laba/ Rugi</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
