.custom-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 7px #dcdbdb;
  padding: 12px;
  margin-top: 2px;
}

.card-image {
  width: auto;
  height: 100%;
}

/*Start*/
.image {
  grid-area: image;
  width: 80px;
  height: 80px;
  margin: auto auto auto 0;
}
.description { grid-area: description; }
.remove-action {
  grid-area: remove-action;
  max-width: 40px;
  max-height: 40px;
  margin: auto 0 auto auto;
}
.add-item {
  grid-area: add-item;
}

.grid-container {
  width: 100%;
  display: grid;
  grid:
  'image description remove-action'
  'image description remove-action'
  'image add-item add-item';
  grid-template-columns: 25% 50% 25%;
}

.title {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  color: #002e61;
}

.stock-available {
  font-size: 0.8em;
  margin: 0;
  font-weight: normal;
  color: #002e61;
}

.custom-form-field {
  width: 45%;
  margin: auto;
  height: 40px !important;
  float: right;
  display: flex;
}

.custom-form-field .mat-form-field-wrapper {
  width: 100%;
  height: 40px;
}

.icon-remove {
  float: right;
  margin-top: -14px;
  margin-right: -14px;
}

.icon-remove mat-icon {
  color: #002e61;
}

.custom-form-field input {
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

.decrement-icon  {
  font-size: 24px;
  color: #002e61;
  cursor: pointer;
  border-radius: 50%;
  padding: 3px;
  margin-top: 3px;
  margin-left: 3px;
}

.increment-icon {
  font-size: 24px;
  color: #002e61;
  cursor: pointer;
  border-radius: 50%;
  padding: 3px;
  margin-top: 3px;
  margin-right: 3px;
}

.decrement-icon:hover, .increment-icon:hover {
  transform: scale(1.1);
}

.decrement-icon:active, .increment-icon:active {
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

.stock-price {
  position: absolute;
  bottom: 0;
  color: #002e61;
}

.button-want {
  align-content: center;
  border-radius: 0.3rem;
  color: #002e61;
  font-weight: bolder;
  height: 40px !important;
  width: 45%;
  float: right;
  display: flex;
  align-self: center;
}

.custom-card {
  float: left;
  width: calc(33.3% - 20px);
  margin: 10px
}

@media (max-width: 767px) {
  .custom-card {
    width: 100%;
    margin: 10px 0 10px 0;
  }
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container:after {
  content: "";
  display: table;
  clear: both;
}

.not-available {
  text-align: center;
  margin-top: 100px;
  color: rgb(61, 68, 79);
  font-size: 16px;
  font-weight: 700;
}
